.show-container {
    background-color: var(--clr-secondary);
    padding: 1em 1em 0 1em;
    min-height: 478px;
}

.show-container__title {
    color: var(--clr-text);
}

.show-container__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}