:root {
  --clr-primary: #1D212A;
  --clr-secondary: #141414;
  --clr-accent: #96031A;
  --clr-accent-hover: #780214;
  --clr-text: #FFFFFF;
  --clr-disabled: #9B9B9B;
  --rds-card: 8px;
  --rds-button: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}

body, input, button, select, textarea {
  font-family: 'Montserrat', sans-serif;
}

a { text-decoration: none; }

.app {
  background-color: var(--clr-primary);
  color: var(--clr-text);
}