.login {
    background-color: var(--clr-secondary);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__heading {
    color: var(--clr-text);
    font-size: 2rem;
    text-align: center;
}

.login__form {
    background-color: var(--clr-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-width: 350px;
    height: 400px;
    padding: 1.5em;
    border-radius: var(--rds-card);
}