.search {
    background-color: var(--clr-secondary);
}

.search__main {
    margin-top: var(--navbar-height);
}

.search__search-bar {
    display: flex;
    padding: 2em 1em 1em 1em;
    gap: 1em;
}

.search__container {
    min-height: 478px;
}