.list {
    width: 100%;
}

.list__title {
    color: var(--clr-text);
    font-size: 1.8rem;
}

.list__container {
    background-color: var(--clr-primary);
    overflow-y: scroll;
    max-height: 560px;
    border-radius: var(--rds-card);
}